body {
    font-family: 'Courier New', monospace, Lucida;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgb(36, 35, 35);
    color: #dfd5d5;
    border: 3px solid #dfd5d5;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #dfd5d5;
    border-bottom: 2px solid #dfd5d5;
    padding-bottom: 10px;
}

h2 {
    color: rgba(79, 3, 255, 0.863);
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    color: #dfd5d5;
    margin-top: 15px;
}

.highlight {
    color: rgba(79, 3, 255, 0.863);
    font-weight: bold;
}

#description {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.fuel-section {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 8px;
    margin-bottom: 3px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #555;
    color: #dfd5d5;
    border: 1px solid #dfd5d5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(79, 3, 255, 0.363);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(79, 3, 255, 0.663);
}

.result {
    padding: 15px;
    background: #2a2a2a;
    border-radius: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dfd5d5;
}

th {
    background-color: rgba(79, 3, 255, 0.363);
}

.total-row {
    font-weight: bold;
    background-color: #333;
}